%h1 Личный кабинет
%h4 Добро пожаловать в личный кабинет!
.row-fluid
  .span6
    %h4= t('.prices')
    %table.table.table-striped
      - @items.each do |item|
        %tr
          %td
            = item.title
          %td
            = item.price
= link_to 'Выйти', session_path, method: :delete, class: 'btn'
