.row-fluid
  %hr
  .span4.offset1
    %a &copy
    = 2014
    %a{ href: "http://ulmic.ru" }
      = t('.youth_initiative_centre')
    %br
    %small
      = t('.this_project_develop_by_programmers_of_ulmic')
    %br
    %small
      %a{ href: "http://github.com/ulmic/metallist", target: "_blank" }
        = t('.this_project_on_the_Github')
